* {
    padding: 0;
    margin: 0;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
body,
p,
a,
span,
strong {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

/* common css part */
.common-header-section {}

.common-header-setion h1 {
    font-size: 50px;
    text-align: center;
    margin: 25px 0;
}

.common-header-setion p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #575757;
}

.link-button {
    background: #3c40c6;
    font-size: 22px;
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}


/* header section css */


.header-section {
    background: url(./images/donation5.jpg) no-repeat center center;
    background-size: cover;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-section h1 {
    font-size: 65px;
    text-align: center;
    width: 55%;
    color: #fff;
}

.header-section p {
    font-size: 18px;
    width: 60%;
    text-align: center;
    margin: 40px 0;
    color: #fff;
}


/* Donate amount section css */


.donate-amount-section {
    margin: 100px 0;
}

#amount-section {
    width: 60%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;

}

#amount-section .amount-item {
    height: 150px;
    width: 150px;
    font-size: 30px;
    font-weight: 700;
    color: #737373;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;

}

#amount-section .amount-item:nth-child(2) {
    color: #3c40c6;
    background: rgba(60, 65, 198, 0.073);
    border: 3px solid #3c40c6;
}

.number-of-amount {
    width: 60%;
    margin: 50px auto;
}

.number-of-amount input {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #495057;
    border-top: none;
    border-left: none;
    border-right: none;
}

.number-of-amount input:focus {
    outline: 0;
}

.donate-now {
    text-align: center;
}



/* Our donate palne css */

.our-donate-plane {
    margin: 100px 0;
}

#our-plane-list {
    width: 80%;
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.our-plane-list-item {
    height: 350px;
    width: 31%;
    box-shadow: 4px 4px 20px #dddd;
}

.our-plane-list-item img {
    margin: 55px 0 40px 20px;
}

.our-plane-list-item h2 {
    margin: 0 0 30px 20px;
}

.our-plane-list-item p {
    color: #AEA7A7;
    font-size: 17px;
    padding: 0 20px;
    font-weight: 500;
    text-align: justify;
}

.our-plane-list-item:nth-child(1) {
    background: rgba(255, 212, 42, 0.123);
}

.our-plane-list-item:nth-child(2) {
    background: rgba(255, 62, 52, 0.123);
}

.our-plane-list-item:nth-child(3) {
    background: rgba(5, 196, 107, 0.123);
}



/* artical section css */

#artical-section {
    margin: 100px auto;
    width: 70%;
    display: flex;
}

.artical-section-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artical-section-left h1 {
    font-size: 46px;
}

.artical-section-left p {
    font-size: 18px;
    margin: 40px 0;
    color: #AEA7A7;
}

.arical-button {
    margin-top: 20px;
}

.artical-section-right {
    width: 50%;
}

.artical-section-right img {
    width: 100%;
    height: auto;
}




/* update section css */


#update-section {
    margin: 100px 0;
}

#subscribe-area {
    width: 60%;
    height: 200px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(235, 59, 91, 0.153);
}

#subscribe-area input {
    outline: 0;
    padding: 16px 15px;
    width: 40%;
    border: none;
    background: #D9D9D9;
    border-radius: 10px 0 0 10px;
    font-size: 17px;
    font-weight: 600;
}

.subscribe-button .link-button {
    border-radius: 0 10px 10px 0;
    padding: 15px 40px;
    font-size: 17px;
}